.hover-gray:hover {
    background-color: #ebebeb;
    transition: all 0.3s;
}
.hover-primary:hover {
    background-color: #337f93;
    transition: all 0.3s;
}

.text-wrapping {
    word-break: break-all;
}
